.main-container {
    display: flex;
    flex-direction: row;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 20px;
}

/* overview container==================================================*/
.overview-container {
    border: 2px solid #ddd; /* Border color */
    border-radius: 10px; /* Border radius */
    padding: 20px; /* Padding inside the box */
    margin-left: 40px; 
    margin-bottom: 20px; 
    max-width: 65em;
}

.overview-container h4 {
    color: #333; /* Title color */
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px; 
}

.overview-container ul {
    list-style-type: disc; /* Use dots for list items */
    padding-left: 20px; /* Adjust the indentation of the list items */
}

.overview-container li {
    margin-bottom: 10px; /* Add margin between list items */
}


/* Winner container====================================================*/
.winner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 40px; 
    /* padding: 30px 50px, 0, 50px;*/
    /*top right bottom left */
    padding: 30px 70px;
    /*top & bottom then left & right*/
}

.first-winner, .second-winner, .third-winner{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.second-winner, .third-winner{
    margin-top: 40px; /* Add space between items */
}

.winner-item p {
    text-align: center; /* Center the username text */
}

/* Winner details container====================================================*/
.winner-details-container {
    margin-left: 40px; 
    margin-bottom: 70px; 
}

.winner-details-table {
    width: 100%;
    border-collapse: separate; /* Separate borders for rows and cells */
    border-spacing: 0; /* Set border spacing to 0 */
    border: 1px solid #333; /* Outside border for the table 
    margin-top: 20px; /* Add margin between the heading and the table */
}

.winner-details-table th {
    background-color: #a3eecbe5; /* Green color for table head */
    color: black; /* Text color for table head */
}

.winner-details-table th, .winner-details-table td {
    border-bottom: 1px solid #9c9c9c; /* Add borders to cells */
    padding: 20px; /* Add padding for aesthetics */
    text-align: center; /* Center text in cells */
}

.winner-details-table tr:last-child td {
    border-bottom: none; /* Remove border from the last row */
}

.winner-details-table img{
    margin-right: 10px;
    width: 30px;
    height: 100%;
}