.header-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100px; /* You can adjust this height as needed */
}

.header-background-image {
    top: 0px;
    left: 0px;
    height: 100px; 
    width: 100%;

}

.overlay-image {
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    width: 34%;
    height: 60%;
    top: 18px;
    left: 50px;
}

.login {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Three columns with equal width */
    align-items: center;
    position: absolute;
    top: 18px;
    right: 1px;
}

.user-image {
    width: 50%;
    height: auto;
    margin-left: 30px;
    cursor: pointer; /* Add this to make the image clickable */
}

