body{
    background-image: url("/asset/background2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}   

.body-container{
  justify-content: center;
}


.login-container {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  top: 25%;
  right: 20%;
  position: fixed;
  width: 15rem;
  height: 50vh;
  padding: 2rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s; /* Add transition property */
}

.login-container:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
}

.input-container{
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center;
}

.login-container hr {
    margin: 0rem;
    border: 0;
    border-top: 2px solid rgb(50, 93, 74);
  }

#username {
  width: 92%;
  margin-top: 1.5rem;
  padding: 8px;
  margin-bottom: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

#password {
  width: 92%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

#email {
  width: 92%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.login-form form {
    display: block; 
}

#loginbutton{
  margin-bottom: 1rem;
  font-size: 0.9rem;
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: rgba(87, 149, 104, 0.2);
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition property */
}

#loginbutton:hover{
  background-color: rgba(87, 149, 104, 0.5);
}

.logintitle{
  font-size: 2rem;
  margin: 1rem 0;
  color: rgb(3, 58, 15);
}

.forgotpassword {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  display: flex;
  width: 100%;
  justify-content: end;
}

#registerbutton {
  margin-bottom: 1.5rem;
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: rgba(87, 149, 104, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

#registerbutton:hover{
  background-color: rgba(87, 149, 104, 0.5);
}

#submitbutton {
  margin-top: 1.9rem;
  margin-bottom: 1rem;
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: rgba(87, 149, 104, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitbutton:hover {
  background-color: rgba(87, 149, 104, 0.5);
}
.log-container {
  font-size: 0.8rem;
}

#registerbut{
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  border: none;
  width: 87%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: rgba(87, 149, 104, 0.2);
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition property */
}

#registerbut:hover{
  background-color: rgba(87, 149, 104, 0.5);
}