table{            
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0.01rem solid#000;
}
th{
   background-color: #DDEBE6;
   border-bottom: 0.01rem solid #000; 
}
td{
    border:0.0rem solid #000;
    padding: 10px;
}
h4 {
font-weight: normal; /* or use font-weight: 400; */
}

h3{
    margin: 0rem;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: left;
    justify-content: center;
    height: 680px; /* Set the desired height */
}

.container {
    width: 640px; /* Set the desired width */
    max-width: 100%; /* Ensure it doesn't exceed the specified width */
}

.content-box {
    background-color: #ffffff;
    border:solid 0.1rem #000;
    border-radius: 2rem;
    border-width: auto;
    padding: 15px;
}
.infotable{
    margin-top: 2rem;
}
