.main-container {
    display: flex;
    flex-direction: row;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    /* width: 640px; 
    max-width: 100%; Ensure it doesn't exceed the specified width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 0rem;
}
.carbon,.water,.electric,.recycle {
    width: 97%;
    /* Adjust width and margin as needed */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.title h2 {
    text-decoration: underline;
}

.third-row {
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.carbon,.recycle {
    width: 97%;
}

.water,.electric {
    width: 48%;
    box-sizing: border-box;
    height: 10rem;
}


.electric {
    float: right;
}

.formula {
    display: inline-block;
    /* Keep the formula in the same line */
    margin-top: 10px;
    /* Add margin at the top as needed */
    text-align: center;
    margin-left: 5rem;
}

.Cformula,.ans {
    display: inline-block;
    vertical-align: top;
    /* Align elements vertically at the top */

}

.Cformula {
    margin-right: 10px;
    /* Adjust margin as needed */
}

.ans {
    font-size: 18px;
    /* Adjust font size as needed */
}

.wformula p {
    text-align: center;
    font-size: 1rem;
}

.wans {
    text-align: right;
}

.eformula {
    text-align: center;
    font-size: 1rem;
}

.eans {
    text-align: right;

}

.rformula {
    text-align: center;
    font-size: 1rem;
}

.rans {
    text-align: right;

}

.button-container {
    text-align: center;
}

.calculate-button {
    background-color: #DDEBE6;
    /* Green background color */
    color: #183D3D;
    /* White text color */
    padding: 8px 30px;
    /* Padding for the button */
    border: none;
    /* No border */
    border-radius: 8px;
    /* Border radius for rounded corners */
    font-size: 16px;
    /* Font size */
    cursor: pointer;
    /* Cursor style on hover */
}

.calculate-button:hover {
    background-color: #78d3b3;
    /* Darker green color on hover */
}